


.time-slider {
    display: flex;
    flex-direction: column;
    z-index: 314159;
    user-select: none;
    margin:10px;
    padding:10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 3px inset;
    border-radius: 10px;
    background-color: var(--main-bg-color);

}
.time-slider svg {
    background-color: #f6f6f431;
    
    padding:10px;
    margin: auto;
    opacity: 1.0;
    user-select: none;
    border-radius: 10px;
    transition-duration: 0.3s;
}
.time-slider svg:hover {
    background-color: #d1d1d198;
}

.time-slider svg .domain{
      stroke: #333333;
      stroke-width: 2px;
      fill: #0a0a0a21;
}
.time-slider svg .tick line {
    stroke: #828181;
}
.time-slider svg .tick text {
    fill: #141414;
}
.time-slider svg .handle {
      fill: #2c7dd8;
      stroke:white;
      stroke-width: 1px;
      width:10px;
      border-radius: 50px;
}
.time-slider svg .selection {
      fill: #028cdb;
      
      fill-opacity: 1;
      
      stroke: rgb(228, 240, 255);
 }
 .time-slider-tooltip {
     width:100px;
     pointer-events: none;
     color:#2e2a2a;
     text-align: center;
     font-size:16px;
     font-weight: 400;
 }
 .time-slider-metabox {
    display:flex;
    flex-direction: row;
    margin: auto;
    padding:5px;
 }